body {
    margin: 0;
    font-family: 'Smythe', cursive;
}

.container{
    width: 504px;
    margin: 0 auto;
}

/* Typography */

h1,
h2 {
    font-weight: 400;    
}
h2 {
    font-size: 28px;
}

.title,
.title-desc{
    color: #FFFFFF;
}
.title {
    font-size: 39px;
    margin: 0 0 16px 0;
}
.title-desc {
    margin: 0;
    font-size: 22px;
}

.menu-item-emoji {
    font-size: 79px;
}

.menu-item-ingredients {
    color: #8B8B8B;
}

.price-tag {
    font-size: 20px;
}
.checkout-title  {
    text-align: center;
}
.checkout-item-name,
.remove-btn,
.order-message{
    margin: 0;
}



/* Layout */

header {
    background-image: url("images/header-bg.png");
    background-size: cover;
    width: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    padding: 45px 0;
}

main {
    padding: 53px 0;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    margin-bottom: 45px;
    border-bottom: 1px solid #D2D2D2;
}
.small-btn,
.menu-add-btn {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    align-items: center;
    padding-bottom: 1px;
    cursor: pointer;
}
.menu-add-btn{
    font-size: 32px;
    width: 50px;
    height: 50px;
}

.icon {
    margin: auto;
}

.checkout-items {
    padding-bottom: 10px;
    border-bottom: 2px solid #393333;
}
.checkout-item {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 9px;
    height: 40px;
}


.remove-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #BBBBBB;
    font-size: 12px;
    cursor: pointer;
}
.small-btn {
    font-size: 16px;
    width: 25px;
    height: 25px;
}
.checkout-total-price {
    display: flex;
    align-items: center;
}
.checkout-total-price h2 {
    margin:  0;
}
.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 18px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #16DB99;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border-radius: 3px;
    border: none;
    margin-top: 40px;
}
/* Modal */

.modal {
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 0px 50px #393333;
}

.customer-info-modal {
    width: 524px;
    height: 480px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 25px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    margin: 0;
}


.modal-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 46px;
}

input {
    font-family: inherit;
    font-size: 20px;
    padding: 17px 26px;
    border: 1.3px solid #757575;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#modal-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-details {
    padding: 50px;
    background-color: #ECFDF5;
    font-size: 32px;
    color: #065F46;
}

.review-modal {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: #e9d8a6;
    font-size: 30px;
}
.review-title {
    font-size: 30px;
    margin-bottom: 46px;
    font-weight: 700;
}
.fa-star {
    cursor: pointer;
}



/* Utility */

.margin-bottom {
    margin: 0 0 9px 0;
}

.margin-left-auto {
    margin-left: auto;
}

.hidden {
    display: none;
}